<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596135433673-cqtlf92q66ibdu1mu8eu9vngptnc83on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596135433673-cqtlf92q66ibdu1mu8eu9vngptnc83on</string>
	<key>API_KEY</key>
	<string>AIzaSyCosY3pVKihOhbKimYW_cBiKnj9cgp7fYA</string>
	<key>GCM_SENDER_ID</key>
	<string>596135433673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTableMakerApp</string>
	<key>PROJECT_ID</key>
	<string>timetablemaker-8218e</string>
	<key>STORAGE_BUCKET</key>
	<string>timetablemaker-8218e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596135433673:ios:9b0422bc1887915b3c0418</string>
</dict>
</plist>